<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="%ROOTDIR%" />
        <add key="DJANGO_SETTINGS_MODULE" value="MyDjango.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="MyDjangoWeb" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\programs\python\Python37-32\python.exe|C:\inetpub\wwwroot\MyDjango\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
